<!doctype html>
<html lang="en"> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Django To-do Lists</title>
</head>

<body>
    <div>
        <h1>Django Lista de Tareas</h1>
    </div>
    <div>
        <a href="{% url 'crear_tarea' %}">Crear nueva Tarea</a>
        
        {% block content %}
        El bloque de contenido, sera sustituido por el contenido de las plantillas de las que se herede el template base.
        {% endblock %}
    </div>
</body>
</html>
